* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	text-align: center;
	background-color: #1f2430;
	color: #fff;
}

nav {
	padding-top: 24px;
	padding-bottom: 24px;
	margin-bottom: 64px;
}

nav a, nav button {
	margin: 0 0.5rem;
	color: crimson;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.125rem;
}

nav a.active {
	font-weight: 700;
}

form {
	max-width: 480px;
	margin: 2rem auto;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0.5rem;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

input[type="email"] {
	width: 100%;
	padding: 0.5rem;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1rem;
	transition: 0.4s;
}

input[type="email"]:focus {
	border-bottom: 2px solid crimson;
}

input[type="submit"] {
	width: 100%;
	padding: 0.5rem;
	border: none;
	background-color: crimson;
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	cursor: pointer;
	transition: 0.4s;
	border-radius: 0.5rem;
}

input[type="submit"]:hover {
	background-color: #fff;
	color: crimson;
}